.image {
    margin: 10px;
    width: 25%;

}
body {
    margin: 0;
    background-repeat: no-repeat;
    background-color: #e9e7da;
    box-sizing: border-box;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center; 

}
h1 {
    color: rgb(91, 139, 65);
}

p, a {
   
    color: rgb(91, 139, 65);
    padding: 5px;
    display: list-item;
    text-align: center;  
    justify-content: center;
    align-items: center;
    margin: auto;

}
